body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* @media (min-width: 858px) {
  html {
      font-size: 12px;
  }
}

@media (min-width: 780px) {
  html {
      font-size: 11px;
  }
}

@media (min-width: 702px) {
  html {
      font-size: 10px;
  }
}

@media (min-width: 724px) {
  html {
      font-size: 9px;
  }
}

@media (max-width: 623px) {
  html {
      font-size: 8px;
  }
} */

@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem !important;
}

h2 {
    font-size: 2.25rem!important;
}

h3 {
    font-size: 2rem!important;
}

h4 {
    font-size: 1.75rem!important;
}

h5 {
    font-size: 1.5rem!important;
}

h6 {
    font-size: 1.25rem!important;
}
p {
  font-size: 1rem!important;
}
}
